.container{
    text-align: center;
}

table{
    margin: auto;
}

button{
    font-size: 41px;
    background-color:aqua;
    width: 45px;
    height: 45px;
    border-radius: 15px;
}
input{
    border-radius: 10px;
    width: 193px;
    height: 39px;
    text-align: right;
}